<title> HTML Frame </title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<center><B> CONTENT </B></CENTER>
<UL>
<LI><A HREF="003data_tblcustomerinvoices.php" TARGET="RightFrame">Customer Invoices Data</A></LI>
<LI><A HREF="003data_tblproducts.php" TARGET="RightFrame">Products Data</A></LI>
<LI><A HREF="003data_tblshippingpackages.php" TARGET="RightFrame">Shipping Packages Data</A></LI>
<LI><A HREF="003data_tblquerycustomerpackages.php" TARGET="RightFrame">Customer Packages Data</A></LI>
<LI><A HREF="003data_tblquerypricetopay.php" TARGET="RightFrame">Price to Pay Data</A></LI>
<LI><A HREF="003data_tblqueryproductpackage.php" TARGET="RightFrame">Product Package Data</A></LI>
<LI><A HREF="003data_tblqueryshipping.php" TARGET="RightFrame">Shipping Data</A></LI>
<LI><A HREF="new_form_customer.html" TARGET="RightFrame">Insert New Customer</A></LI>
<LI><A HREF="new_form_product.html" TARGET="RightFrame">Insert New Product</A></LI>
<LI><A HREF="new_form_shippingpackages.html" TARGET="RightFrame">Insert New Shipping Package</A></LI>
<LI><A HREF="new_form_calculation.html" TARGET="RightFrame">Insert New Calculation of Price to Pay</A></LI>
<LI><A HREF="009editanddelete.php" TARGET="RightFrame">Delete & Update for Customer Invoices</A></LI>
<LI><A HREF="009editanddelete (1).php" TARGET="RightFrame">Delete & Update for Products </A></LI>
<LI><A HREF="new 1.php" TARGET="RightFrame">Delete & Update for Shipping Packages </A></LI>
<LI><A HREF="014frm_search.php" TARGET="RightFrame">Search for Customer Packages</A></LI>
<LI><A HREF="014frm_search (1).php" TARGET="RightFrame">Search for Price to Pay</A></LI>
<LI><A HREF="014frm_search (2).php" TARGET="RightFrame">Search for Product Package</A></LI>
<LI><A HREF="014frm_search (3).php" TARGET="RightFrame">Search for Shipping</A></LI>


<a href="logout.php" TARGET="RightFrame" class="btn btn-info" role="button">Logout</a> 
  
   
</UL>

</body>
</html>